<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>imagemservlet</servlet-name>
        <servlet-class>org.xcommerce.servlets.ImagemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imagemservlet</servlet-name>
        <url-pattern>/imagem/imagemservlet</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>produto</servlet-name>
        <servlet-class>org.xcommerce.servlets.ProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>produto</servlet-name>
        <url-pattern>/produto/produto</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>clienteservlet</servlet-name>
        <servlet-class>org.xcommerce.servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clienteservlet</servlet-name>
        <url-pattern>/cliente/clienteservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EstoqueServlet</servlet-name>
        <servlet-class>org.xcommerce.servlets.EstoqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstoqueServlet</servlet-name>
        <url-pattern>/estoque/EstoqueServlet</url-pattern>
	</servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
