/* basic elements */
body {
    margin: 0;
    padding: 0;
    background:#fff url(/xCommerce/images/bg.jpg) no-repeat top fixed;
    text-align:center;
    width:100%;
    height:100%;
    font-family:"sans-serif", arial;
}

h1, h2, h3, h4, h5 {
    padding:0;
    margin:0 0 15px 0;
    text-align:center;
    font-family:verdana;
    font-variant:small-caps;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration:none;
}
a:hover {
    color: #00f;
}

table td {
    vertical-align:top;
}

p {
    padding:0;
    margin:0;
}
p.error_msg {
    font-weight: bold;
    color: #900;
}
p.success_msg {
    font-weight: bold;
    color: #090;
}

/* structural elements */
#wrapper {
    position:relative;
    margin:0 auto;
    width:800px;
    text-align:left;
    color: #000;/*#919AA4;*/
}

#header {
    height:120px;
    padding:0;
    margin:0;
    background:url(/xCommerce/images/top-banner.png) no-repeat top;
}

#menu-user {
    position:absolute;
    top:127px;
    right:16px;
    font-family:verdana;
    font-size:12px;
    text-align:left;
    font-variant:small-caps;
}
#menu-user td {
    padding: 0 10px;
}

#body-top {
    height:5px;
    padding:8px 16px;
    margin:0;
    background:url(/xCommerce/images/body-top.png);
}

#content {
    padding:20px;
    margin:0;
    width:760px;
    text-align:left;
    font-size: 12px;
    background:url(/xCommerce/images/body-mid.png) repeat;
}

#login {
    position:absolute;
    top:15px;
    right:30px;
    padding:0;
    margin:0;
    font-family:verdana;
    font-size:11px;
    text-align:right;
    font-variant:small-caps;
    font-weight: bold;
    line-height: 100%;
}
#login table td {
    vertical-align:middle;
}
.loginInputText {
    width:100px;
    font-size:11px;
}
#submitLogin {
    font-size:11px;
}

#message {
    position:relative;
    top:-10px;
    text-align:center;
}

#footer {
    padding:0;
    margin:0;
    width:800px;
    text-align:left;
    background:url(/xCommerce/images/body-mid.png) repeat;
}
#footer h1 {
    margin:0;
    border-bottom:2px solid #485460;
    font-size:12px;
    color:#b4c2cd;
}
#footer table {
    text-align: center;
    font-size:12px;
    font-weight:normal;
    width: 100%;
}
#footer a {
    color: #fff;
    text-decoration:none;
}
#footer a:hover {
    color: #b4c2cd;
}

#foot-wrap {
    position:relative;
    left:3px;
    width:788px;
    background:#101C28;
}

#body-bottom {
    height:29px;
    padding:0;
    margin:0;
    background:url(/xCommerce/images/body-bottom.png);
}

table tr.labelRow {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
}
table td.idCell {
    font-weight: bold;
    background-color: lightgray;
}

.thumbs {
    width: 200px;
    height: auto;
}
.thumbs {
    width: auto;
    height: 200px;
}
